body {
    width: 100%;
}

.bgstyle1 {
    background-image: url(img/food_1.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.main-container {
    margin-left: auto;
    margin-right: auto;
    height: 750px;
}

.search-container {
    margin-left: auto;
    margin-right: auto;
}

.uk-navbar-container {
    margin-left: 15%;
    margin-right: 15%;
}

.pregame-text {
    text-align: center;
    font-size: 75px;
    color: white;
    padding: 250px 0px 0px 0px;
    margin-bottom: -500px;
}

.pregame-text-2 {
    color: white;
    text-align: center;
    font-size: 75px;
    padding: 250px 0px 0px 0px;
    margin-bottom: -500px;
}

.pregame-search {
    margin-left: auto;
    margin-right: 0px;
    margin-top: 100px;
    width: 450px;
    height: 40px;
    font-size: 20px;
    background: white;
    padding: 0px;
}

.location-search {
    margin-left: 0px;
    margin-right: auto;
    margin-top: 100px;
    width: 400px;
    height: 40px;
    font-size: 20px;
    background: white;
    padding: 0px;
}

.sub-container {
    padding: 0px;
    height: 600px;  
    background: black;
    color: white;
}

.sub-container-2 {
    text-align: center;
    height: 600px;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#search-button {
    background: red;
    color: white;
    height: 40px;
}

.subsportsbg {
    background-image: url(img/sportingevent_1.jpg);
    background-repeat: no-repeat;
}

.subconcertsbg {
    background-image: url(img/concert_event_1.jpg);
    background-repeat: no-repeat;
}

#near-text {
    background-color: white;
    font-size: 20px;
    color: black;
    height: 35px;
    width: 50px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    margin-top: 100px;
}

#find-text {
    background-color: white;
    font-size: 20px;
    color: black;
    height: 35px;
    width: 50px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    margin-top: 100px;
}

.uk-icon-github {
    color: black;
}